{% extends 'courier/base.html' %}

{% block head %}
<script
  src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_API_KEY }}&callback=initMap&libraries=places&v=weekly"
  defer></script>

<script>
  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 13,
      center: { lat: 41.7658, lng: -72.6734 },
    });

    // Get available jobs via API
    fetch("{% url 'available_jobs_api' %}")
      .then(response => response.json())
      .then(json => {
         console.log(json);

        // Create a new viewpoint bound
        var bounds = new google.maps.LatLngBounds();

        for (let i = 0; i < json.jobs.length; i++) {
          const job = json.jobs[i];
          const position = { lat: job.pickup_lat, lng: job.pickup_lng };
          const marker = new google.maps.Marker({
            position,
            map,
          });

          // Increase the bounds to take this point
          bounds.extend(position);

          new google.maps.InfoWindow({
            content: "<small><b>" + job.name + "</b></small><br/><small>" + job.distance.toFixed(2) + " mi</small>"
          }).open(map, marker);

          // Click event for each job
          marker.addListener("click", () => {
            showJobDetails(job);
          });

          // Fit these bounds to the map
          map.fitBounds(bounds);
        }
      })
  }

  function showJobDetails(job) {
    $("#job-details").css("display", "block");
    $("#job-name").html(job.name);

    $("#job-photo").attr('src', "/media/" + job.photo);
    $("#pickup-address").html(job.pickup_address);
    $("#delivery-address").html(job.delivery_address);
    $("#duration").html(job.duration);
    $("#distance").html(job.distance.toFixed(2));
    $("#price").html(job.price);

    $("#job-details").on("click", function () {
      window.location.href = "/courier/jobs/available/" + job.id + "/";
    })

  }
  const messaging = firebase.messaging();

  messaging.onMessage((payload) => {
    window.location.reload();
  })
</script>

<style>
  .gm-ui-hover-effect {
    display: none !important;
  }

  #map {
    flex: 1;
  }

  small {
    font-size: 12px;
    line-height: 1.2rem;
  }

  .card {
    border: none;
  }

  #job-details {
    display: none;
  }
</style>

{% endblock %}

{% block content %}

<div class="d-flex flex-column h-100" style="padding-bottom: 60px">
  <div id="map"></div>

  <div id="job-details" class="card">
    <div class="card-body p-2">
      <div class="media">
        {% comment %} <img id="job-photo" class="rounded-lg mr-3" width="50px" height="50px"> {% endcomment %}
        <div class="media-body">
          <b id="job-name"></b>
          <div class="d-flex">
            <div class="flex-grow-1 mr-2">

              <small class="text-success">
                <i class="fas fa-car"></i> <span id="distance"></span> mi
                <i class="far fa-clock ml-2"></i> <span id="duration"></span> mins
              </small>

              <div class="d-flex align-items-center mt-2">
                <i class="fas fa-map-marker-alt"></i>
                <small id="pickup-address" class="text-secondary ml-2"></small>
              </div>

              <div class="d-flex align-items-center mt-2">
                <i class="fas fa-flag-checkered"></i>
                <small id="delivery-address" class="text-secondary ml-2"></small>
              </div>

            </div>
            $<h3 id="price"></h3>
            <input type="hidden" id="latest-job-id" value="{{ latest_job_id }}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'courier/bottom_tabs.html' %}

<script>
  // Define a function to check for new jobs
function checkForNewJobs() {
  const job = '{{ job_id }}'
  if (job) {
    setTimeout(() => {
    document.location.reload();
  }, 3000);
    console.log("Screen has reloaded")
  }
}
// Call the function to check for new jobs every 5 seconds
setInterval(checkForNewJobs, 5000);

  // function checkForJobUpdates() {
  //     const latestJobId = $('#job-id').val();

  //     console.log(latestJobId)
  //     $.ajax({
  //         url: '/courier/jobs/available/',
  //         data: {'job_id': latestJobId},
  //         dataType: 'json',
  //         success: function(data) {
  //             if (data.has_new_job) {
  //                 // Display a notification to the user
  //                 alert('New job available: ' + data.latest_job_description);
                  
  //                 // Update the ID of the latest job checked
  //                 $('#latest-job-id').val(data.latest_job_id);
  //             }
  //             else {
  //               console.log("There is no data")
  //             }
  //         }
  //     });
  //     if (latestJobId != null) {
  //       console.log("Screen reloaded")
  //       location.reload
  //     }
      
  // }
  // setInterval(checkForJobUpdates, 5000);
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}