{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Courier | Right2Ya</title>
  <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/logo.png' %}">
  <link rel="manifest" href="{% static 'manifest.json' %}">

  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  {% include 'load_firebase.html' %}


  <script>
    let vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`);
  </script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

  <style>
    #content {
      height: calc(var(--vh, 1vh) * 100);
    }
  </style>

  {% block head %}{% endblock %}
</head>

<body>
  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <script src="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.css">

  ¸

  <script>
    function toast(message, type) {
      bootoast.toast({
        position: 'centerBottom',
        message,
        type,
      });
    }

  </script>
</body>

</html>

<script>
  $(document).ready(function() {
    var lastJobId = null; // Variable to keep track of the last job that triggered a reload

    setInterval(function() {
      $.ajax({
        url: '/api/jobs/available/',
        method: 'GET',
        success: function(data) {
          console.log(data);
          if (data[0]['status'] == 'ready' && data[0]['job_id'] != lastJobId) { // Check if the job is different from the last one
            lastJobId = data[0]['job_id']; // Update the last job ID
            setTimeout(function() {
              console.log("Screen should be reloading");
              document.location.reload();
              
            }, 5000); // Set the duration to 5000 milliseconds (5 seconds)
          }
        }
      });
    }, 10000);
  });
</script>
