{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">Add Tip</h3>
                    </div>
                    <div class="card-body">
                        <p>Total price before tip: {{ total_price }}</p>
                        <p>Total price with tip: {{ total_price_with_tip }}</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.tip.id_for_label }}">Tip Amount</label>
                                {{ form  }}
                            </div>
                            <button type="submit" class="btn btn-primary">Add Tip</button>
                        </form>
                    </div>
                    
                </div>
                <a href="{% url 'customer:job' job.id %}" class="btn btn-secondary mt-3">Back to Job</a>
            </div>
        </div>
    </div>

{% endblock %}
