{% extends 'customer/base.html' %}
{% load bootstrap4 %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">Scheduled Service</h4>
          </div>
          <div class="card-body">
            <form method="POST" action="{% url 'customer:create_job' %}">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" src="" class="btn btn-primary">Create Job</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

