{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>My Scheduled Jobs</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Job ID</th>
        <th>Pickup Address</th>
        <th>Delivery Address</th>
        <th>Scheduled Date/Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for job in scheduled_jobs %}
      <tr>
        <td>{{ job.id }}</td>
        <td>{{ job.pickup_address }}</td>
        <td>{{ job.delivery_address }}</td>
        <td>{{ job.scheduled_datetime }}</td>
        <td>{{ job.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
