{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="shortcut icon" href="{% static 'img/logo.png' %}">

  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

  {% block head %}{% endblock %}
</head>

<body>
  {% include 'navigation.html' %}
  {% block content %}{% endblock %}

  <footer class="text-center mt-5 mb-5">
    &copy; 2023 Right2ya.com 
  </footer>

  <script src="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.css">

  <script>
    function toast(message, type) {
      bootoast.toast({
        position: 'leftBottom',
        message,
        type,
      });
    }

    {% if messages %}

    {% for message in messages %}
    toast('{{ message }}', '{{ message.tags }}');
    {% endfor %}

    {% endif %}
  </script>
</body>

</html>