<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyBude-IO_NtO0YLcw-K9y_zJ9F0qkRr7JE",
    authDomain: "fastparcel-1c719.firebaseapp.com",
    projectId: "fastparcel-1c719",
    storageBucket: "fastparcel-1c719.appspot.com",
    messagingSenderId: "545560483102",
    appId: "1:545560483102:web:a432e22dfd1ebd7acae50f",
    measurementId: "G-VX3WYZGRY9"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>