{% load i18n %}
{% autoescape off %}
{% blocktrans %}
Hello!
You're receiving this email because you requested a password reset for your account at {{ site_name }}.
Please go to the following page and choose a new password:
{% endblocktrans %}
{{ protocol }}://{{ domain }}{% url 'account_reset_password_from_key' uidb36=uidb36 key=token %}
{% blocktrans %}
Your username, in case you've forgotten: {{ user.username }}
{% endblocktrans %}
{% blocktrans %}
Thanks for using our site!
The {{ site_name }} team
{% endblocktrans %}
{% endautoescape %}
