{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content%}

<style>
	.hunter-green {
	  background-color: #355E3B;
	}
	.card-container {
	  margin-top: 50px;
	}
	.card-img-overlay {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	}
	.card-title,
	.card-text {
	  color: tan;
	  text-align: center;
	}
	.hunter-green-button {
	  background-color: #355E3B;
	  border: none;
	}
	.card:hover .card-img-overlay {
	  background: black;  /* light gray overlay */
	  opacity: .5;
	}
  </style>

<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center text-uppercase mb-3">
            <b>
              {% if request.GET.next != '/courier/' %}
              Customer
              {% else %}
              Courier
              {% endif %}
            </b>
          </h4>

          <form method="POST">
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_label "Email" %}
            {% bootstrap_field form.username show_label=False placeholder="Email" %}
            {% bootstrap_field form.password %}
            <button class="btn btn-warning btn-block hunter-green-button text-white">Sign In</button>
            <p class="text-center mt-3">
              {% comment %} New to the beta? <a href="/sign-up/?next={{ request.GET.next }} "><b>Sign Up</b></a> {% endcomment %}
            </p>
            <p class="text-center mt-3">
              Forgot Password? <a href="{% url 'password_reset' %}"><b>Reset Password</b></a>
            </p>
            {% comment %} <hr>
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.GET.next }}"
              class="btn btn-outline-primary btn-block">Sign In with Facebook</a> {% endcomment %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}