{% extends 'dashboard/layout.html' %}
{% load static %}

{% block script %}

<script>
  $(document).ready(function() {
    var now = new Date();
    setInterval(function() {
      $.ajax({
        url: '/api/dashboard/order/notification/' + now.toISOString() + '/',
        method: 'GET',
        success: function(data) {
          if (data['notification'] === 0) {
            $('.badge').text('');
          } else {
            $('.badge').text(data['notification']);
          }
        }
      })
    }, 3000)
  })
</script>

{% endblock %}



{% block sidebar %}

{% url 'dashboard_service' as dashboard_service_url %}
{% url 'dashboard_order' as restaurant_order_url %}
{% url 'dashboard_report' as dashboard_report_url %}
{% url 'customer:profile' as dashboard_account_url %}

<div class="text-center mt-4">
    {% if request.user.restaurant.logo %}
  <img src="{{ request.user.restaurant.logo.url }}" class="rounded-circle" width="80" height="80" alt="">
    {% else %}
    <img src="{% static 'img/logo.png' %}" class="rounded-circle" width="80" height="80" alt="">
    {% endif %}
  <br><br>
  <h5>{{ request.user }}</h5>
  <h6>{{ request.user.restaurant.name}}</h6>
</div>

<hr>

<div class="list-group">
  <span class="text-uppercase">Dashboard</span>

  <a href="{% url 'dashboard:dashboard_service' %}" 
    class="list-group-item {% if request.path == restaurant_service_url %} active {% endif %}">Services</a>
  <a href="{% url 'dashboard:dashboard_order' %}" 
    class="list-group-item {% if request.path == restaurant_order_url %} active {% endif %}">
    Orders
    <span class="badge badge-warning ml-2"></span>
  </a>
  <a href="{% url 'dashboard:dashboard_report' %}" 
    class="list-group-item {% if request.path == restaurant_report_url %} active {% endif %}">Report</a>

  <span class="text-uppercase">Profile</span>
  <a href="{% url 'customer:profile' %}" 
    class="list-group-item {% if request.path == dashboard_account_url %} active {% endif %}">Account</a> 
</div>

<div class="text-center my-3 mx-3">
  <a href="" class="btn btn-warning btn-block">Logout</a>
</div>

{% endblock %}