{% extends 'dashboard/layout.html' %}
{% load static %}
{% block script %}

<script>
  $(document).ready(function() {
    setInterval(function() {
      $.ajax({
        url: '/api/dashboard/order/notification/',
        method: 'GET',
        success: function(data) {
          if (data['notification'] > 0) {
            $('.badge').text(data['notification']);
            if (data['new_job_created']) {
              // Fetch the new job data and update the DOM
              $.ajax({
                url: '/api/dashboard/job/',  // Replace with your actual API endpoint
                method: 'GET',
                success: function(jobData) {
                  $('.badge').text(data['notification']);
                }
              });
            }
          } else {
            $('.badge').text('');
          }
        }
      })
    }, 3000)
  })
</script> 



{% endblock %}



{% block sidebar %}

{% url 'restaurant_meal' as dashboard_service_url %}
{% url 'dashboard_order' as restaurant_order_url %}
{% url 'dashboard_report' as dashboard_report_url %}
{% url 'dashboard_account' as dashboard_account_url %}
{% url 'dashboard:available_drivers' as restaurant_available_url%}

<div class="text-center mt-4">
  
  <img src="{% if request.user.customer.avatar %}{{ request.user.customer.avatar.url }}{% else %}{% static 'img/avatar.png' %}{% endif %}" class="rounded-circle" width="80" height="80" alt="">
  <br><br>
  <h5>{{ request.user.get_full_name }}</h5>
 <h6>{{ request.user.restaurant.name }}</h6> 
</div>

<hr>

<div class="list-group">
  <span class="text-uppercase">Dashboard</span>

  <a href="{% url 'dashboard:restaurant_meal' %}" 
    class="list-group-item {% if request.path == restaurant_service_url %} active {% endif %}">Services</a>
  <a href="{% url 'dashboard:dashboard_order' %}" 
    class="list-group-item {% if request.path == restaurant_order_url %} active {% endif %}">
    Orders
    <span class="badge badge-warning ml-2"></span>
  </a>
  <a href="{% url 'dashboard:available_drivers' %}" 
  class="list-group-item {% if request.path == restaurant_available_url %} active {% endif %}">Drivers</a>
  <a href="{% url 'dashboard:dashboard_report' %}" 
    class="list-group-item {% if request.path == restaurant_report_url %} active {% endif %}">Report</a>

  <span class="text-uppercase">Profile</span>
  <a href="{% url 'dashboard:restaurant_account' %}" 
    class="list-group-item {% if request.path == restaurant_account_url %} active {% endif %}">Account</a>
</div>

<div class="text-center my-3 mx-3">
  <a href="" class="btn btn-warning btn-block">Logout</a>
</div>

{% endblock %}