{% extends 'dashboard/base.html' %} 

{% block title %} Services {% endblock %}

{% block body %}

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card shadow text-white mb-3 mt-5">
        <div class="card-header text-center bg-warning">
          <h5 class="m-0 font-weight-bold text-black">Services</h5>
        </div>
        <div class="card-body">
          <span class="float-right mb-3">
            <a href="{% url 'dashboard:dashboard_add_service' %}" class="btn btn-black">Add Service</a> 
          </span>

          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                {% comment %} <th scope="col">ID</th> {% endcomment %}
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                {% comment %} <th scope="col">Image</th> {% endcomment %}
              </tr>
            </thead>
            <tbody>
              {% for meal in services %}
                <tr class="align-middle">
                  <th scope="row">{{ meal.id }}</th>
                  <td>
                    <a href="{% url 'dashboard:company_edit_service' meal.id %}">{{ meal.name }}</a>
                  </td>
                  <td>{{ meal.short_description }}</td>
                  <td class="text-left">${{ meal.price }}</td>
                  {% comment %} <td class="text-center">
                    <img src="{{ meal.image.url }}" class="rounded" width="50" height="50" alt="">
                  </td> {% endcomment %}
                </tr>
              {% endfor %}
              
            </tbody>
          </table>
          
          
        </div>
      </div>
    </div>
  </div>
{% endblock %}