{% extends 'dashboard/base.html' %} 

{% block title %} Orders {% endblock %}

{% block body %}
<script>
  function initializeWebSocket(orderId) {
    const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    const ws_path = ws_scheme + '://' + window.location.host + "/ws/jobs/" + orderId + "/";
    console.log("WebSocket path: ", ws_path);  // Debug line
    
    const jobSocket = new WebSocket(ws_path);
    
    jobSocket.onopen = function(e) {
      console.log("WebSocket connection opened:", e);
    };
    
    jobSocket.onerror = function(e) {
      console.error("WebSocket error:", e);
    };
    
    jobSocket.onmessage = function(e) {
      console.log("Received WebSocket message:", e.data);
      const data = JSON.parse(e.data);
      
      if (data.job_id && data.new_status) {
        console.log("Updating job ID:", data.job_id, "New Status:", data.new_status);
        document.getElementById('order-status').innerText = data.new_status;

      }
    };
    
    jobSocket.onclose = function(e) {
      console.log("WebSocket connection closed:", e);
    };
  }
  
  </script>

  <style>
    .greyed-out {
      background-color: #f0f0f0;  /* or any other shade of grey you prefer */
    }
    .status-indicator.scheduled { background-color: yellow; }
    .status-indicator.completed { background-color: green; }
  </style>

<!-- Immediate Orders -->
<div class="container">
<h5 class="mt-5 mb-3 font-weight-bold text-black">Orders </h5>
<!-- Add these lines for debugging -->


<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <caption>List of Orders</caption>
    <thead>
      <tr>
        <th scope="col">Details</th>
        <th scope="col">Customer</th>
        <th scope="col">Driver</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% if immediate_orders %}
        {% for order in immediate_orders %}
        <script>initializeWebSocket("{{ order.id }}");</script>
        <tr class="align-middle" id="order-row-{{ order.id }}">
          <td>
            <ul>
              <li>{{ order.name }} </li>
            </ul>
          </td>
          <td>{{ order.customer }}</td>
          <td>{{ order.courier }}</td>
                <td class="text-right">${{ order.price|floatformat:2}}</td>
                <td id="order-status">
                  <span class="status-indicator {{ order.status }}"></span>
                  {{ order.get_status_display }}
                </td>
                
                <td>
                  {% if order.status == 'processing' %}
                    <form action="" method="post">
                      {% csrf_token %}
                      <input name="id" value="{{ order.id }}" hidden>
                      <button class="btn btn-black btn-sm">Send to Driver</button>
                    </form>
                    {% elif order.status != 'processing' %}
                    <!-- Reload Page Button -->
                    <button class="btn btn-primary btn-md" onclick="location.reload();">
                      <i class="fas fa-sync-alt"></i>
                    </button>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}    
            {% else %}
            <h3 class="text-center">There are no jobs to view.</h3>

          </tbody>
        {% endif%}
        </table>
      </div>

<!-- Scheduled Orders for Today -->
<h5 class="mt-5 mb-3 font-weight-bold text-black">Scheduled Orders <span class="badge badge-secondary">{{ scheduled_orders.count }}</span></h5>
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <caption>List of Scheduled Orders</caption>
    <thead>
      <tr>
        <th scope="col">Details</th>
        <th scope="col">Customer</th>
        <th scope="col">Driver</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% if scheduled_orders %}
        {% for order in scheduled_orders %}

        <script>initializeWebSocket("{{ order.id }}");</script>
        <tr class="align-middle greyed-out" id="order-row-{{ order.id }}">
          <td>
            <ul>
              <li>{{ order.name }}</li>
            </ul>
          </td>
          <td>{{ order.customer }}</td>
          <td>{{ order.courier }}</td>
          <td class="text-right">${{ order.price|floatformat:2 }}</td>
          <td id="order-status" class="indicator.scheduled">{{ order.get_status_display }} - {{ order.scheduled_date }}</td>
          <td>
            {% if order.status == 'scheduled' %}
              <form action="" method="post">
                {% csrf_token %}
                <input name="id" value="{{ order.id }}" hidden>
                {% if order.scheduled_date > today or order.scheduled_date < today %} 
                <button class="btn btn-secondary btn-sm" disabled>Scheduled</button>
                {% else %}
                <form action="" method="post">
                  {% csrf_token %}
                  <input name="id" value="{{ order.id }}" hidden>
                  <button class="btn btn-danger btn-sm">Send to Driver</button>
                </form>
                {% endif %}
              </form>
            {% elif order.status != 'scheduled' %}
              <!-- Reload Page Button -->
              <button class="btn btn-primary btn-md" onclick="location.reload();">
                <i class="fas fa-sync-alt"></i>
              </button>
            {% endif %}
          </td>
          
        </tr>
        {% endfor %}
      {% else %}
        <h3 class="text-center">There are no scheduled jobs to view for today.</h3>
      {% endif %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}

