{% extends 'dashboard/base.html' %} 

{% block title %} Orders {% endblock %}

{% block body %}
<script>
  function initializeWebSocket(orderId) {
    const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    const ws_path = ws_scheme + '://' + window.location.host + "/ws/jobs/" + orderId + "/";
    const jobSocket = new WebSocket(ws_path);
    
    jobSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      if (data.job_id && data.new_status) {
        document.getElementById('order-status-' + data.job_id).innerText = data.new_status;
      }
    };
  }
  </script>

<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="card shadow text-white mb-3 mt-5">
      <div class="card-header text-center">
        <h5 class="m-0 font-weight-bold text-black">Orders</h5>
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Details</th>
              <th scope="col">Customer</th>
              <th scope="col">Driver</th>
              <th scope="col">Total</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          {% if orders %}
          <tbody>
            {% for order in orders %}
           <script> initializeWebSocket("{{ order.id }}"); </script>

              <tr class="align-middle" id="order-row-{{ order.id }}">
                <td>
                  <ul>
                     <li>{{ order.name }} :${{ order.price }}</li>
                  </ul>
                </td>
                <td>{{ order.customer}}</td>
                <td>{{ order.courier }}</td>
                <td class="text-right">${{ order.price|floatformat:2}}</td>
                <td id="order-status-{{ order.id }}">{{ order.get_status_display }}</td>
                <td>
                  {% if order.status == 'processing' %}
                    <form action="" method="post">
                      {% csrf_token %}
                      <input name="id" value="{{ order.id }}" hidden>
                      <button class="btn btn-black btn-sm">Ready</button>
                    </form>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}    
            {% else %}
            <h3 class="text-center">There are no jobs to view.</h3> 
          </tbody>
        {% endif%}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

