{% extends 'restaurant/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 text-center mt-3">
            
            <h1>Contract: {{ order.client_full_name }}</h1>
        </div>
    </div>
    <a href="{% url 'dashboard' %}" class="btn btn-default mb-3">Go Back</a>
    <div class="row justify-content-center">
        <div class="col-md-4 com-sm-12">
            <div class="col-md-12 com-sm-12">
                <h3>Customer Information:</h3>
            </div>
            <div class="card">
                <div class="card-body">
                    <p><span style="font-weight: 400;">Client Full Name:</span> {{ order.client_full_name }}</p>
                    <p><span style="font-weight: 400;">Contact Person:</span> {{ order.contact_person }}</p>
                    <p><span style="font-weight: 400;">Telephone:</span> {{ order.telephone_number }}</p>
                    <p><span style="font-weight: 400;">Cell:</span> {{ order.cell_number }}</p>
                    <p><span style="font-weight: 400;">Email:</span> {{ order.email }}</p>
                </div>
            </div>
            <div class="col-md-12 com-sm-12 mt-5 pb-3">
            <h3>Address Information:</h3>
            </div>
            <div class="card mb-5">
                <div class="card-body">
                    <p><span style="font-weight: 400;">Street:</span> {{ order.address }}</p>
                    <p><span style="font-weight: 400;">City:</span> {{ order.city }}</p>
                    <p><span style="font-weight: 400;">State:</span> {{ order.state }}</p>
                    <p><span style="font-weight: 400;">Zip Code:</span> {{ order.zip_code }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="col-md-12 com-sm-12">
                <h3>Event Information:</h3>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p><span style="font-weight: 400;">Date of Event:</span> {{ order.date_of_event }}</p>
                        <p><span style="font-weight: 400;">Event Type:</span> {{ order.event_type }}</p>
                        <p><span style="font-weight: 400;">No. of Guests:</span> {{ order.number_of_guest }}</p>
                        <p><span style="font-weight: 400;">Start Time:</span> {{ order.start_time }}</p>
                        <p><span style="font-weight: 400;">End Time:</span> {{ order.end_time }}</p>
                        <p><span style="font-weight: 400;">Location of Event:</span> {{ order.location_of_event }}</p>
                        <p><span style="font-weight: 400;">Phone:</span> {{ order.phone_number }}</p>
                    </div>
                </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="col-md-12 com-sm-12">
                <h3>Payment Information:</h3>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p><span style="font-weight: 400;">Type of Payment:</span> {{ order.type_of_payment }}</p>
                        <p><span style="font-weight: 400;">Method of Payment:</span> {{ order.method_of_payment }}</p>
                        <p><span style="font-weight: 400;">Total Price:</span> <b>${{ order.price }}</b></p>

            <p class="mt-3">{% if order.is_paid %}
                <p><i style="color: green;" class="fas fa-check"></i><span class="pl-2">Event Has Been Paid!</span></p>
                {% else %}
                <p><i style="color: red;" class="fas fa-times"></i><span class="pl-2">Event Has Not Been Paid</span></p>
                {% endif %}</p>
                {% if order.is_completed %}
                <p><i style="color: green;" class="fas fa-check"></i><span class="pl-2">Event Has Been Completed!</span></p>
                {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success">Event Completed</button>
                </form>
                {% endif %}
        </div>
                </div>
        </div>
    </div>
</div>

{% endblock content %}